footer {
  background-color: #73213b;
  color: #fefefe;
  width: 100%;
}

p,
a,
li,
.copy-rights-txt,
.footer-link {
  color: var(--mute-text);
  color: #cbcbcbde;
  text-decoration: none;
  transition: color 0.3s ease;
}

.copy-rights-txt{
  color: #fefefe;
}

li svg,
.fs-5 svg {
  color: var(--white-color);
}

footer .footer-link {
  color: var(--mute-text);
  color: #cbcbcbde;
  text-decoration: none;
  word-break: break-all;
}

footer .footer-link:hover {
  color: var(--highlight-color);
}

footer ul {
  padding-left: 0;
}

footer img {
  max-width: 150px;
}

@media (max-width: 767px) {
  footer .row {
    text-align: center;
  }

  footer .d-flex {
    justify-content: center !important;
  }

  footer .gap-3 {
    justify-content: center !important;
  }
}
