.offers-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    justify-items: center;
}

.offer-container{
    padding-inline: 1.2rem;
    margin-inline: auto;
}

.offer-card img {
    height: 200px !important;
    object-fit: scale-down !important;
    transform: scale(1.4);
    background-color: transparent;
}
.old-price {
    color: var(--gray-color);
    text-decoration: line-through;
    opacity: 0.8;
    font-size: 0.7rem;
    margin-left: 5px;
}
.offer-card {
    width: 300px;
    min-width: 320px !important;
    margin: 1.5rem;
    margin-top: 0;
}

@media (max-width: 999px) {
    .offers-grid {
        grid-template-columns: repeat(auto-fit, minmax(calc(230px + 3rem), 1fr));
    }
    .offer-card {
        max-width: 280px !important;
        min-width: auto !important;
    }
}

@media (max-width: 925px) {
    .offers-grid {
        grid-template-columns: repeat(auto-fit, minmax(calc(200px + 3rem), 1fr));
    }
    .offer-card {
        height: -webkit-fill-available !important;
        max-width: 90% !important;
        min-height: 100% !important;
    }
    .offer-card img {
        height: 100% !important;
        transform: scale(1.45) !important;
    }
    .offer-card .my-btn {
        font-size: smaller;
    }
    .offer-card .menu-footer {
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
}