.contact-page .icon-box {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: var(--highlight-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary);
  font-size: 18px;
}

.map-placeholder {
  height: 250px;
  background: var(--white-color);
  border-radius: 0.5rem;
  color: var(--gray-color);
}
