.contact-page {
  background-color: var(--card);
}

.contact-page .icon-box {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: var(--highlight-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary);
  font-size: 18px;
}

.map-placeholder {
  height: 250px;
  background: var(--white-color);
  border-radius: 0.5rem;
  color: var(--gray-color);
}

label.title.form-label {
  font-size: 0.8rem;
  word-spacing: -0.2rem;
  text-transform: capitalize;
}

.contact-link {
  text-decoration: none;
  color: var(--black-color);
  font-weight: 600;
  opacity: 0.9;
}

.main-content-container {
  background-color: var(--card) !important;
}

.contact-form-container .text-muted {
  font-size: 1.02rem;
}

.contact-title {
  font-size: 2.14rem;
  word-spacing: -1rem;
}
