.menu-card img {
  height: 180px;
  object-fit: cover;
}

.form-select {
  background-color: var(--highlight-color);
  border: 1px solid var(--secondary);
  color: var(--black-color);
  font-family: var(--font-family-text);
  border-radius: var(--radius);
  padding: 0.6rem 1rem;
  transition: all 0.3s ease;
}

.form-select:focus {
  border-color: var(--primary);
  box-shadow: 0 0 0 0.2rem rgba(231, 103, 1, 0.25);
}

.form-select:hover {
  border-color: var(--secondary-hoverd);
}

.menu-card .card-body {
  display: flex;
  flex-direction: column;
}

.nav-pills .nav-link {
  border-radius: 30px;
  margin: 0 5px;
  padding: 8px 20px;
}

.nav-pills .nav-link.active {
  background-color: #ff5722;
}

.menu-grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(290px, auto));
  justify-items: center;
  justify-content: center;
}

.wishlist-btn {
  box-shadow: none !important;
}

@media (max-width: 996px) {
  .menu-card {
    min-width: 260px !important;
    min-height: unset;
    height: 400px;
  }
  .menu-grid {
    grid-template-columns: repeat(auto-fit, minmax(262px, auto));
  }
}

@media (max-width: 810px) {
  .menu-card {
    min-width: 200px !important;
    min-height: unset;
    height: 400px;
  }
  .image-wrapper {
    height: 50%;
    align-content: center;
  }
  .menu-card img {
    height: 68%;
    transform: scale(1);
  }
  .menu-grid {
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  }
}

@media (max-width: 550px) {
  .menu-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  }
  .menu-card {
    min-width: 220px;
    height: -webkit-fill-available;
    max-height: 440px;
    width: 230px;
    max-width: 100%;
  }
}

@media (max-width: 550px) {
  .menu-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  }
  .menu-card {
    min-width: unset;
    height: 380px;
    max-height: 440px;
    width: 100%;
    max-width: 100%;
  }
  .menu-card img {
    height: 100%;
  }
  .desc-scroll {
    -webkit-line-clamp: unset;
  }
}

@media (max-width: 265px) {
  .menu-card {
    height: 400px;
    width: 90%;
  }
}
