.menu-card {
  background: var(--white-color);
  border: 1px solid var(--border);
  border-radius: 12px;
  min-width: 320px;
  min-width: 100% !important;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  min-height: 384px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-card:hover {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.image-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 12px 12px 0 0;
}

.menu-image {
  width: 100%;
  height: 180px;
  transform: scale(1.04);
  object-fit: scale-down !important;
  transition: transform 0.3s ease;
}

.menu-card:hover .menu-image {
  transform: scale(.84);
}

.category-badge {
  position: absolute;
  top: 12px;
  left: 12px;
  background: var(--secondary-hoverd);
  color: var(--mute-text);
  font-size: 0.75rem;
  padding: 4px 8px;
  border-radius: 999px;
}

.wishlist-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  background: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 50% !important;
  padding: 10px !important;
  cursor: pointer;
}

.icon {
  width: 1.125rem;
  height: 1.125rem;
  color: var(--black-color);
}

.wishlist-active {
  fill: var(--secondary-hoverd);
  color: var(--secondary-hoverd);
}

.menu-content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 50%;
  justify-content: space-around;
}

.menu-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu-title {
  text-transform: uppercase;
  word-spacing: -5px;
  font-size: 1rem;
  color: var(--black-color);
}

.menu-rating {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 0.875rem;
  color: var(--gray-color);
}

.star-icon {
  width: 16px;
  height: 16px;
  fill: #f59e0b;
  color: #f59e0b;
}

.menu-desc {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--gray-color);
}

.desc-scroll {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.menu-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-price {
  font-size: 1.125rem;
  font-weight: bold;
  color: var(--primary);
}

.form-control:focus{
  outline: none !important;
  border-color: transparent !important;
}