footer{
    background-color: var(--secondary);
    color: var(--white-color);
    width: 100%;
}

p,
a,
li,
.footer-link{
    color: var(--mute-text);
    text-decoration: none;
}

li svg,
.fs-5 svg{
    color: var(--white-color);
}

footer .footer-link {
    color: var(--mute-text);
    text-decoration: none;
    word-break: break-all;
}

footer .footer-link:hover {
  color: var(--primary);
}

footer ul {
  padding-left: 0;
}

footer img {
  max-width: 150px;
}

@media (max-width: 767px) {
  footer .row {
    text-align: center;
  }
  
  footer .d-flex {
    justify-content: center !important;
  }
  
  footer .gap-3 {
    justify-content: center !important;
  }
}
