:root {
  --white-color: #ffffff;
  --gray-color: #343A40;
  --mute-text: #d8dbdf;
  --black-color: #3e342f;
  --card: #F8F9FA;
  --primary: #e76701;
  --secondary: #c63663; 
  --highlight-color: #faeff3;
  --border: #f6f5f3;
  --radius: 8px;
  --font-family-title: "DunkinSansExtraBold", "Montserrat", sans-serif !important;
  --font-family-text: "Poppins", "Montserrat", sans-serif !important;
}

footer{
    background-color: var(--secondary);
    color: var(--white-color);
    width: 100%;
}

p,
a,
li,
.footer-link{
    color: var(--mute-text);
    text-decoration: none;
}

li svg,
.fs-5 svg{
    color: var(--white-color);
}
