.hero {
  width: 100%;
  min-height: calc(75px + 60vh);
  padding: 0;
  height: fit-content;
  margin-top: 8px;
}

.hero .container {
  display: flex;
  justify-content: center;
  max-width: 44%;
  z-index: 9999;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  text-align: center;
}

.hero-title {
  text-transform: uppercase;
  color: var(--black-color);
  margin-top: 1.25rem;
  word-spacing: -18px;
}

.hero-title .highlight {
  color: var(--primary);
}

.hero-subtitle {
  font-size: 1.125rem;
  color: var(--gray-color);
  font-weight: 400;
  width: 90%;
}

.hero-buttons {
  display: flex;
  gap: 16px;
}

.stats {
  display: flex;
  gap: 40px;
  margin-top: 20px;
}

.stat {
  text-align: center;
}

.stat-number {
  font-size: 24px;
  font-weight: bold;
  color: #e63946;
}

.stat-label {
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--gray-color);
}