.cart-box {
  background: var(--white-color);
  padding: 20px;
  border-radius: 20px;
  max-width: 800px;
  max-width: 80%;
  margin-inline: auto;
}

.cart-item {
  border-bottom: 0.2rem solid var(--card);
  padding: 15px 0;
  border-end-start-radius: 18%;
}

.cart-item-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  justify-content: space-between;
}

.cart-item-img-container{
    width: 40%;
    display: flex;
    justify-content: center;
}

.cart-item-image {
  width: 40%;
  height: -webkit-fill-available;
  border-radius: 8px;
  object-fit: scale-down;
  transform: scale(0.9);
  object-position: center;
  transition: all 0.3s ease-in-out;
}
.cart-item-image-offer {
  transform: scale(1.2);
}

.cart-item:hover .cart-item-image {
  transform: scale(0.6);
  object-position: center;
}

.cart-item-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 60%;
}

.cart-item-title {
  font-size: 1.5rem;
  text-transform: uppercase;
  word-spacing: -0.4rem;
}

.cart-item-description {
  color: var(--gray-color);
  font-size: 1rem;
  line-height: 1.4;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: 500;
}

.cart-item-price {
  font-size: 1.375rem;
  color: var(--gray-color);
  font-weight: 900;
}

.cart-item-price .currency {
  color: var(--secondary-hoverd);
  font-weight: 700;
  margin-right: 5px;
}

.cart-item-meta {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 10px;
}

.cart-item-category {
  color: var(--gray-color);
  padding-left: 0.7rem;
  border-left: 1px solid var(--secondary-hoverd);
  font-size: 1.2rem;
  font-weight: 600;
}

.cart-item-category span {
  color: var(--secondary);
  font-size: 1rem;
  font-weight: 700;
}

.cart-item-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantity-control {
  display: flex;
  align-items: center;
  gap: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 6px 12px;
}

.form-select {
  width: 70% !important;
}

.form-select,
.form-select option {
  font-weight: 600;
}

.clickable {
  cursor: pointer;
}

.quantity {
  font-weight: 700;
  font-size: 1.125rem;
}

.save-btn {
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 6px;
  border: none;
  background-color: #f3f4f6;
  color: #374151;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;
}

.save-btn:hover {
  background-color: #e5e7eb;
}

.icon {
  width: 1.2rem !important;
  height: 2rem !important;
}

@media (max-width: 675px) {
  .cart-item-image {
    max-width: 150px;
  }
  .cart-item-container {
    align-items: center;
  }
  .control-card {
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 1.2rem;
  }
  .cart-item {
    border-end-start-radius: 0;
    border-end-end-radius: 8%;
  }
}

@media (min-width: 640px) {
  .cart-item-container {
    flex-direction: row;
    gap: 20px;
  }

  .cart-item-meta {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: 640px) {
  .cart-box{
    max-width: 100%;
  }
  .cart-item-details {
    width: 100%;
  }
  .cart-item-img-container {
    width: 40%;
  }
  .cart-item-image {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .icon {
    width: 1rem !important;
    height: 1rem !important;
  }
  .control-card {
    padding-left: 0;
  }
  .cart-item {
    border-end-end-radius: 10%;
    border-bottom: 0.28rem solid var(--card);
  }
  .form-label {
    font-size: 1rem;
  }
}

@media (max-width: 380px) {
  .cart-item-image {
    max-width: 100px;
  }
  .control-card {
    display: block;
    position: relative;
  }
  .cart-item-actions {
    justify-content: flex-end;
  }
}
