:root {
  --white-color: #ffffff;
  --gray-color: #343A40;
  --mute-text: #d8dbdf;
  --black-color: #3e342f;
  --card: #F8F9FA;
  --primary: #e76701;
  --secondary: #c63663; 
  --secondary-hoverd: #d62839;
  --highlight-color: #faeff3;
  --border: #f6f5f3;
  --radius: 8px;
  --font-family-title: "DunkinSansExtraBold", "Montserrat", sans-serif !important;
  --font-family-text: "Poppins", "Montserrat", sans-serif;
}
.promotions-banner{
    background-color: var(--primary) !important;
}
p{
    color: var(--card);
}