section.hero{
    padding: 0 !important;
    overflow: hidden;
    min-height: unset !important;
    height: unset !important;
    max-height: unset !important;
    margin: 0 !important;
    padding: 0 !important;
}

.hero-container.position-relative {
    display: flex;
    align-items: center;
    height: 70vh;
}

.big-hero,
.mid-hero{
    display: block;
}

.xs-hero,
.sm-hero,
.large-hero{
    display: none;
}

.hero-content{
    min-height: 100%;
    padding-block: 1rem;
}

.hero-img-holder {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    overflow: hidden;
}

.hero-img-holder img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

@media (min-width: 1320px) {
    .hero-container.position-relative {
        height: 62vh;
    }
    .hero-img-holder {
        height: 100%;
    }
    .large-hero{
        display: none;
    }
    .mid-hero{
        display: block;
    }
    
    .mid-hero,
    .big-hero{
        display: block;
        width: 100% !important;
        height: 100%;
        object-fit: cover !important;
        object-position: center !important;
    }
    .hero-img-holder img {
        width: 100%;
    }
}

@media (max-width: 1040px) {
    .hero-container.position-relative {
        height: 62vh;
    }
    
}
@media (max-width: 930px) {
    .big-hero,
    .mid-hero{
        display: none;
    }
    .sm-hero{
        display: block;
    }
    .hero-title{
        font-size: 2.2rem;
    }
    .hero-subtitle {
        font-size: 1rem;
        width: 100%;
    }
}

@media (max-width: 760px) {
    .hero-container.position-relative {
        height: 54vh;
        padding-block: 1rem;
    }
}

@media (max-width: 680px) {
    .hero-container.position-relative {
        height: 100vh;
    }
    .hero-img-holder img{
        display: none;
    }
    .hero-img-holder .xs-hero {
        display: block;
        width: 100%;
        height: 60%;
    }
    .hero-img-holder {
        overflow: unset;
        top: -28%;
        height: 100%;
    }
    .hero-container .container {
        margin: 0;
        width: 90%;
        max-width: unset;
        margin-inline: auto;
    }
    .hero-content{
        margin-top: 6rem;
        width: 100%;
    }
    .hero-title {
        line-height: 1.5;
    }
}


@media (max-width: 475px) {

    .not-found-content {
        gap: 8px;
        width: 100% !important;
    }

}