.not-found-sec {
    min-height: 60vh;
    max-width: 100%;
    margin: 0;
    padding: 0;
}
.hero-not-found {
    width: 100%;
    margin: 0 !important;
    height: 100%;
    min-height: 60vh;
    display: flex;
    align-items: center;
}

.big-hero-notfound,
.mid-hero-notfound{
    display: none;
}

.large-hero-notfound{
    display: block;
}

.not-found-content{
    min-height: 100%;
}

.img-hero-holder {
    position: absolute;
    display: flex;
    width: 100%;
    object-fit: cover;
    object-position: center;
    top: 0;
    overflow: hidden;
}

.img-hero-holder img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.notfound-img {
    width: 50%;
}

@media (min-width: 1320px) {
    .img-hero-holder {
        height: 100%;
    }
    .large-hero-notfound,
    .mid-hero-notfound{
        display: none;
    }
    
    .big-hero-notfound{
        display: block;
        width: 100% !important;
        height: 100%;
        object-position: top !important;
    }
    .img-hero-holder img {
        width: 100%;
    }
}

@media (max-width: 1155px) {

    .not-found-sec {
        height: 540px;
        margin-bottom: 0;
    }
    .img-hero-holder {
        height: 100%;
        top: 50%;
        transform: translateY(-40%);
    }
    .img-hero-holder img {
        height: 70%;
    }
    .hero-not-found {
        width: 100%;
        max-width: 1470px;
        min-height: 450px;
        margin-block: 0 !important;
    }
    .notfound-img {
        width: 50%;
    }
}
@media (max-width: 900px) {
    .not-found-sec{
        margin: 0;
        display: flex;
    }
    .hero-not-found {
        height: auto;
    }
    .img-hero-holder {
        height: fit-content;
    }
    .not-found-content {
        gap: 4px;
    }
    .not-found-content .title {
        font-size: 1.4rem !important;
    }
    .img-hero-holder img {
        height: 90%;
    }
    .not-found-content p {
        font-size: 1rem !important;
    }
}



@media (max-width: 670px) {
    .img-hero-holder img {
        height: 100%;
        transform: scale(1.05);
    }
    .img-hero-holder {
        height: fit-content;
        top: 40%;
    }
    .mid-hero-notfound{
        display: block;
    }

    .large-hero-notfound{
        display: none;
        top: 30%;
    }

}


@media (max-width: 475px) {
    .img-hero-holder {
        display: none;
    }

    .not-found-content {
        gap: 8px;
        width: 100% !important;
    }

}